.available-buses {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.bus-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.bus-card h3 {
  color: #d84e55;
}

.bus-card p {
  margin: 5px 0;
}

.bus-card button {
  background-color: #d84e55;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.bus-card button:hover {
  background-color: #b13e48;
}
