.scroll-to-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
  }
  
  .scroll-to-top.show {
    opacity: 1;
    visibility: visible;
  }
  
  .scroll-to-top:hover {
    background-color: #ff3d00;
  }
  